body {
    background: pink;
    display: grid;
    place-items: center;
    height: 100vh;
  }

/*card css*/
.user-list{
    background:#fff;
    border-radius: 24px;
    padding: 24px;
    color:#181059 ;
    font-family: "Inter", sans-serif;
    max-height:550px;
   }

/*to fix image size and boder radious*/
.image{
    min-height:300px;
    max-height:300px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 25px;
}
/*content inside card properties*/
.card-content{
    line-height: 2em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
}
/*card heading*/
.card-heading{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5em;
    margin:0 0 0.5em 0;
}
/*page heading*/
.heading{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2em;
    margin:0 0 0.5em 0;
    color: #181059;   
}
/*button css*/
.btn{
  width: 100%;
  background:#8645ff;
  border-radius: 8px;
  border: none;
  color:#fff;
  font-size: 20px;
  padding: 12px;
  font-weight: bold;
}
@media (min-width:375px){
    .user-list:hover{
        background:  #181059;  
        color: white;
    }
  }